images/sandwitch.jpeg
images/paneer .jpeg
images/hero.jpeg
images/cheesecake.jpeg
images/brownie.jpeg
images/cappuccino.jpeg
*.jpg
images/fries.jpeg
images/icecream.jpeg
images/garlic.jpeg
images/lattee.jpeg
images/lavacake.jpeg
images/macha.jpeg
